.dark-bg {
    height: 100%;
    width: 100%;
    background-color: #243447;
    color: white;
}

.full-container {
    height: 79vh;
    width: 100%;
}

.light-bg {
    background-color: #F0F8FF;
    color: black;
}